/* .vitepress/theme/custom.css */
:root {
  /* --vp-font-family-base: "Tiny5", sans-serif;
  --vp-font-family-mono: "Tiny5", sans-serif; */
  --vp-c-brand-1: rgb(0, 0, 0);
  --vp-c-brand-2: rgb(26, 24, 24);
  --vp-c-brand-3: rgb(53, 52, 52);

}

.dark {
  --vp-c-brand-1: rgb(255, 255, 255);
  --vp-c-brand-2: rgb(231, 231, 231);
  --vp-c-brand-3: rgb(235, 235, 235);
  --vp-button-brand-text: rgb(17, 16, 16);
  --vp-button-brand-hover-text: rgb(27, 27, 27);
  --vp-button-brand-active-text: rgb(0, 0, 0);
}